<div class="page-container">

  <div class="page-header">
    <h1>Students</h1>
    <button (click)="createStudent()">Create Student</button>
  </div>

  <app-student-search
    [studentCount]="students.length"
    (searchRequested)="search($event)"
    (clearRequested)="clearSearch()"
  />

  @if (errorMessage) {
    <p class="error">{{ errorMessage }}</p>
  }

 @if (showResults && !errorMessage) {
  @if (!filteredStudents.length) {
    <p>No students found.</p>
  } @else {
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        @for (student of filteredStudents; track student.id) {
          <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.firstName }}</td>
            <td>{{ student.lastName }}</td>
            <td>{{ student.email }}</td>
            <td>
              <button (click)="viewStudent(student.id)">
                View
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
    }
  }

</div>